.display, nav ul, .first-comment, .video{
    display: flex;
}
.video, .first-comment, .up-next, .comment-section,.sort-sections, .info-container, 
nav{
    flex-direction: row;
}
.font{
    font-family: Roboto, Arial, sans-serif;
}
.views-container, .sort-sections, .up-next, .info-container, 
.comment-section, nav{
    justify-content: space-between;
}
.main-container {
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}
.search-bar-1, .menu-button, nav{
    background-color: white;
}
.body-container, body,
.left-container, .tittle, .right-container, .video {
    background-color:#f7f5f5 ;
}
nav {
    height: 60px;
    width: 100%;
    margin-top: -10px;
}
.left-bar {
    justify-content: start;
    margin-top: 0.5rem;
}
.views-container, .likes-section a, .odin span,
 .show-more a, .public-comment p,
 .up-next span,.prof3 a, .video p,.sort-sections a 
{
    color: gray;
}
.menu-button {
    height: 5px;
    border: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.logo {
    margin-left: 1rem;
    margin-bottom: -2rem;
    height: 30px;
}
.search-bar-1 {
    margin-top: 1.5rem;
}
nav ul {
    margin-right: -10px;
    list-style-type: none;
}
nav ul li {
    padding: 2rem;
    margin-left: -40px;
    margin-top: -20px;
    color: rgb(233, 233, 233);
}
.search-bar-1 input {
    height: 20px;
    margin: 0;
}
.search-bar-1 {
    margin-top: 1.5rem;
}
.search-bar-1 button {
    height: 26px;
    width: 60px;
    margin: 0px;
    cursor: pointer;
    margin-left: -7px !important;
}
.body-container {
    margin-left: 8%;
    margin-right: 10%;
}
.left-container {
    margin-top: 1.5em;
    width: 60%;
}
.video-container iframe {
    border: 0;
}
.title {
    color: #212121;
    font-weight: normal;
    font-size: 10px;
}
.views-container {
    align-items: center;
    height: 25px;
}
.likes-section a {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    text-decoration: none;
    border-bottom: grey;
}
.likes-section span {
    font-size: 0.8rem;
}
.profile-button img {
    border-radius: 50%;
    width: 75px;
}
.odin a {
    text-decoration: none;
    font-weight: bold;
}
.odin span{
    margin-left: -45px;
}
.subscribe {
    color: white;
    background-color: #cc0000;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -30px;
    line-height: 1em;
    border: 0;
    padding: 10px 16px;
}
.column-text {
    margin-left: -40px;
}
.column-text p {
    font-size: 13px;
    line-height: 1em;
    margin-left: -45px;
    color: #0d0d0d;
}
.show-more a {
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: -45px;
}
.sort-sections p {
    font-size: 16px;
    margin-top: -1.2px;
    line-height: 0.5rem;
}
.sort-sections a {
    text-decoration: none;
    font-size: 16px;
    margin-left: -600px;
}
.commenters {
    line-height: 0.1rem;
}
.public-comment {
    flex-direction: column;
    margin-bottom: 20px;
}
.public-comment p {
    font-size: 15px;
    line-height: 1em;
    margin-left: -640px;
}
.public-comment hr {
    margin-left: -640px;
}
.first-comment {
    line-height: 0.2rem;
}
.prof1 {
    font-size: 16px;
}
.profile-column {
    line-height: 0.03rem;
}
.prof2 {
    font-size: 16px;
}
.prof3 a {
    list-style-type: none;
    text-decoration: none;
}
.right-container {
    margin-top: 1.5em;
    margin-left: 20px;
    width: 700px;
    margin-right: -2px;
}
.up-next {
    line-height: 1rem;
}
.up-next p {
    font-size: 14px;
    margin-top: 1px;
}
.up-next span {
    font-size: 14px;
}
.video{
    cursor: pointer;
}
.video p {
    font-size: 14px;
    margin-right: -10px;
    line-height: 0.3rem;
}
.video h4 {
    color: #212121;
    line-height: 0.12rem;
    font-weight: 600;
}
.right-description {
    margin-top: -16px;
    margin-left: 10px;
}