body {
    background-color: #f7f5f5;
}

.main-container {
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: white;
    margin-top: -10px;
    justify-content: space-between;
}

.left-bar {
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
}

.menu-button {
    height: 5px;
    border: 0;
    background-color: white;
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.logo {
    margin-left: 1rem;
    margin-bottom: -2rem;
    height: 30px;
}

#search-bar {
    margin-top: 1.5rem;
    border-color: white;

}

nav ul {
    display: flex;
    margin-right: -10px;
    list-style-type: none;
}

nav ul li {
    padding: 2rem;
    margin-left: -40px;
    margin-top: -20px;
    color: rgb(233, 233, 233);
}

#search-bar input {
    height: 20px;

}

#search-bar {
    margin-top: 1.5rem;
    border-color: white;
}

#search-bar button {
    height: 26px;
    width: 60px;
    cursor: pointer;
    margin-left: -7px !important;
}

.body-container {
    display: flex;
    margin-left: 8%;
    margin-right: 10%;
    background-color: b#f7f5f5;

}

.left-container {
    height: 500px;
    background-color: f7f5f5;
    margin-top: 1.5em;
}

.title {
    color: #212121;
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    background-color: #f7f5f5;

}

.views-date {
    font-family: Roboto, Arial, sans-serif;

}

.views-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
    height: 25px;
}

.likes-section a {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    text-decoration: none;
    color: grey;
    border-bottom: grey;
}

.likes-section span {
    font-size: 0.8rem;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: px;
}

.odin a {
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;

}

.subscribe {
    color: white;
    background-color: #cc0000;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -30px;
    line-height: 1em;
    border: 0;
    padding: 10px 16px;

}

.column-text {
    font-family: Roboto, Arial, sans-serif;
    margin-left: -45px;

}

.column-text p {
    font-size: 12px;
    line-height: 1em;
    margin-left: -45px;
    font-family: Roboto, Arial, sans-serif;
    color: #0d0d0d;
}

.show-more a {
    text-decoration: none;
    color: gray;
    font-size: 0.8rem;
    margin-left: -45px;

}

.sort-sections {
    display: flex;
    flex-direction: row;
 justify-content: space-between;

}
.sort-sections p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    margin-top:-1px ;
}

.sort-sections a {
    text-decoration: none;
    color: gray;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    margin-left: -600px;
}
.comment-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.public-comment{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.public-comment p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    margin-left: -640px;
    color: gray;
}
.public-comment hr{
    margin-left: -640px;
}
.first-comment{
    display: flex;
    flex-direction: row;
    font-family: Roboto, Arial, sans-serif;
    line-height: 0.2rem;
}
.prof1{
font-size: 12px;
}
.profile-column{
    font-family: Roboto, Arial, sans-serif;
}
.prof2{
font-size: 12px;
}
.prof3 a{
list-style-type: none;
color: gray;
text-decoration: none;
font-family: Roboto, Arial, sans-serif;
}

.right-container {
    margin-top: 1.5em;
    background-color: #f7f5f5;
    margin-left: 20px;
    margin-right: -10px;
    width: 450px;
    margin-right: -30px;
}
.up-next{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
}
.up-next p{
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    margin-top: 1px;

}
.up-next span {
    color: gray;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}.video p{
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
}
.video{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f7f5f5;

}
.right-description{
    line-height: 5px;
}
.right-description {


}